extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/")
      span(class="fas fa-arrow-left")
      |  Back
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout

block cover-main  
    form(action="/addBk" method="post")
        div(class="form-group")
            label(for="nama") Nama BK
            input(type="text" class="form-control" id="nama" placeholder="Nama BK" name="nama")
        div(class="form-group")
            label(for="tanggal") Tanggal Penayangan
            input(type="date" class="form-control" id="tanggal" name="tanggal")
        div(class="form-group")
            label(for="waktuAwal") Jam mulai
            input(type="time" class="form-control" id="waktuAwal" name="waktuAwal")
        div(class="form-group")
            label(for="waktuAkhir") Jam selesai
            input(type="time" class="form-control" id="waktuAkhir" name="waktuAkhir")
        div(class="form-group")
            div(class="row")
                div(class="col-sm-3")
                div(class="col-sm-3")
                    input(type="radio" id="radio1" name="lokasi" value="9009" autocomplete="off")
                    span(class="radioLabel")  Di 9009
                div(class="col-sm-3")
                    input(type="radio" id="radio1" name="lokasi" value="not9009" autocomplete="off")
                    span(class="radioLabel")  Non 9009
                div(class="col-sm-3")
        button(type="submit" class="btn btn-primary") Tambah BK

  

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.


          
