extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/")
      span(class="fas fa-arrow-left")
      |  Back
  nav(class="nav nav-masthead justify-content-center")
    a(class="nav-link" href="/login") Login
    a(class="nav-link" href="/register") Register

block cover-main
    if (message)
        div(class="alert alert-danger" role="alert") #{message}
            
    form(action="/bookNoLFM" method="post")
        input(type="hidden" id="idBkBook" name="bk" value=collections._id)
        div(class="form-group")
            label(for="username") Nama
            input(type="text" class="form-control" id="namaInput" placeholder="Nama" name="nama")
        div(class="form-group")
            label(for="email") Email
            input(type="email" class="form-control" id="emailInput" placeholder="Email" name="email")
        div(class="form-group")
            label(for="lembaga") Asal Lembaga
            input(type="text" class="form-control" id="lembagaInput" placeholder="Lembaga" name="lembaga")
        button(type="submit" class="btn btn-primary") Book

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
