extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="./") #{title}
  nav(class="nav nav-masthead justify-content-center")
    a(class="nav-link" href="./login") Login
    a(class="nav-link" href="./register") Register

block cover-main  

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.


          
