extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/") #{title}
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      if (user.role === "admin")
        a(class="nav-link" href="/addBk") Tambah BK        
        a(class="nav-link" href="/kursiRusak") Pengaturan Kursi Rusak
      else
        a(class="nav-link" href="/myBookings") History Peminjaman
      a(class="nav-link" href="/logout") Logout

block cover-main  
  if (message)
    div(class="alert alert-warning alert-dismissible fade show" role="alert")
      span #{message}
      button(type="button" class="close" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;
  if (user)
    if (collections)
      ul      
        each collection in collections
          li 
            a(href="/showBk/" + collection._id) #{collection.nama}

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.


          
