extends layout

block cover-header  
  h3(class="masthead-brand") #{title}
  nav(class="nav nav-masthead justify-content-center")
    a(class="nav-link" href="./login") Login

block cover-main
    form(action="./login")
        div(class="form-group")
            label(for="exampleInputEmail1") Email
            input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Email")
        div(class="form-group")
            label(for="exampleInputPassword1") Password
            input(type="password" class="form-control" id="exampleInputPassword1" placeholder="Password")
        button(type="submit" class="btn btn-primary") Login

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
