extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/")
      span(class="fas fa-arrow-left")
      |  Back
  nav(class="nav nav-masthead justify-content-center")
    a(class="nav-link" href="/login") Login
    a(class="nav-link" href="/register") Register

block cover-main
    form(action="/login" method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text" class="form-control" id="username" placeholder="Username" name="username")
        div(class="form-group")
            label(for="password") Password
            input(type="password" class="form-control" id="password" placeholder="Password" name="password")
        button(type="submit" class="btn btn-primary") Login
