extends layout

block cover-main
    form(action="/login" method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text" class="form-control" id="username" placeholder="Username" name="username")
        div(class="form-group")
            label(for="password") Password
            input(type="password" class="form-control" id="password" placeholder="Password" name="password")
        button(type="submit" class="btn btn-primary") Login
