extends layout

block cover-main
    if (message)
        div(class="alert alert-danger" role="alert") #{message}

    a(class="btn btn-secondary" href="/member")
      span(class="fa fa-arrow-left") Back to member page
    br
    br
            
    form(action="./register" method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text" class="form-control" id="usernameInput" placeholder="Username" name="username")
        div(class="form-group")
            label(for="email") Email
            input(type="email" class="form-control" id="emailInput" placeholder="Email" name="email")        
        div(class="form-group")
            label(for="role") Role
            br
            select(name='role')
                option(value='students') students
                option(value='mentor') mentor
                option(value='bod') bod

        button(type="submit" class="btn btn-primary") Register
