extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/")
      span(class="fas fa-arrow-left")
      |  Back
  nav(class="nav nav-masthead justify-content-center")
    a(class="nav-link" href="/login") Login
    a(class="nav-link" href="/register") Register

block cover-main
    if (message)
        div(class="alert alert-danger" role="alert") #{message}
            
    form(action="./register" method="post")
        div(class="form-group")
            label(for="username") Username
            input(type="text" class="form-control" id="usernameInput" placeholder="Username" name="username")
        div(class="form-group")
            label(for="email") Email
            input(type="email" class="form-control" id="emailInput" placeholder="Email" name="email")
        div(class="form-group")
            label(for="password") Password
            input(type="password" class="form-control" id="passwordInput" placeholder="Password" name="password")
        div(class="form-group")
            label(for="passwordConfirm") Konfirmasi Password
            input(type="password" class="form-control" id="passwordConfirmInput2" placeholder="Konfirmasi Password" name="passwordConfirm")
        button(type="submit" class="btn btn-primary") Register
