label {
    margin-bottom: 0;
}
.table td,.table th {
    text-align: center;   
    padding:0;
    border-top:none;
    padding:1px;
 }

 .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
  }
  
  .switch input {display:none;}
    
  .slider-trans {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:0.5em;
    background-color: rgba(22, 182, 49,0);
    -webkit-transition: .4s;
    transition: .4s;
  }      
  .layar {
    padding-top: 0.5em!important;
    background-color:rgb(111, 125, 206);
  }

  .btn-kursi {
    width:100%;
    height:100%;
    text-align: center;
    font-size:0.8em;
    margin-left:auto;
    margin-right:auto;
  }